#checkOut {
    // height: 100vh;
    display: flex;

    .leftBox {
        width: 50%;
        height: 100%;
        display: flex;
        // justify-content: end;
        align-items: end;
        padding: 50px 70px;
        flex-direction: column;
        border-right: 1px solid gray;

        input:focus {
            border: 3px solid rgb(25, 158, 215) !important;
            outline: none;
        }

        #firstForm {
            display: flex;
            flex-direction: column;
            width: 500px;
            gap: 10px;

            label {
                font-size: 25px;
            }

            input {
                width: 100%;
                height: 50px;
                padding: 0px 10px;
                border-radius: 5px;
                border: 1px solid gray;
            }

            .check {
                display: flex;
                gap: 10px;

                input {
                    width: 17px;
                    height: 17px;
                }
            }

        }

        #secondForm {
            width: 500px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 50px;

            label {
                font-size: 25px;
            }

            select {
                height: 50px;
                border-radius: 5px;
            }

            .normalBox {
                width: 100%;
                display: flex;
                gap: 10px;
                justify-content: space-between;

                input {
                    height: 50px;
                    width: 50%;
                    border-radius: 5px;
                    padding: 0px 10px;
                    border: 1px solid gray;
                }

            }

            p {
                color: rgb(25, 158, 215);
                cursor: pointer;
            }

            input {
                border-radius: 5px;
                height: 50px;
                padding: 0px 10px;
                border: 1px solid gray;

            }

            .check {
                display: flex;
                gap: 10px;

                input {
                    width: 17px;
                    height: 17px;
                }
            }
        }

        .shippingBox {
            width: 500px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 40px;

            p {
                font-size: 20px;
            }

            .shipBox {
                border: 3px solid rgb(25, 158, 215);
                border-radius: 5px;
                display: flex;
                height: 60px;
                padding: 0px 5px;
                justify-content: space-between;
                background: rgba(17, 163, 225, 0.558);
                align-items: center;

                p {
                    font-size: 15px;
                }
            }
        }

        .paymentBox {
            margin-top: 50px;
            width: 500px;
            display: flex;
            flex-direction: column;
            gap: 7px;

            p {
                font-size: 25px;
            }

            span {
                font-size: 15px;
                color: gray;
            }

            .storeBox {
                height: 150px;
                background: #FAFAFA;
                color: gray;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                i {
                    font-size: 40px;
                }

                p {
                    font-size: 15px;
                }
            }

            .payNowBtn {
                height: 50px;
                background: #FAFAFA;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid gray;
                cursor: pointer;
                color: gray;
            }
        }
    }

    .rightBox {
        background: #FAFAFA;
        width: 50%;
        // height: 100%;
        padding: 90px 50px;

        .upBox {
            display: flex;
            align-items: center;
            gap: 10px;

            .imgBox {
                width: 70px;
                height: 70px;
                position: relative;

                img {
                    width: 100%;
                    border-radius: 5px;
                    border: 2px solid gray;
                }

                .countBox {
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    background: gray;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                    color: white;
                }
            }

            .textBox {
                h1 {
                    font-size: 18px;
                }

                p {
                    font-size: 15px;
                    color: gray;
                }
            }

            .priceBox {
                margin-left: 50px;
            }
        }

        .downBox {
            margin-top: 40px;

            .normalBox {
                display: flex;
                justify-content: space-between;
                padding: 5px 0px;
                width: 420px;

                h2 {
                    font-size: 22px;
                }

                .box {
                    display: flex;
                    gap: 10px;
                    justify-content: center;
                    align-items: center;

                    p {
                        font-size: 17px;
                    }

                    span {
                        font-size: 13px;
                        color: gray;
                    }
                }
            }
        }
    }
}